In [1]:
!pip install mne matplotlib

Collecting mne
  Downloading mne-1.10.1-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from mne) (4.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from mne) (3.1.6)
Requirement already satisfied: lazy-loader>=0.3 in /usr/local/lib/python3.12/dist-packages (from mne) (0.4)
Requirement already satisfied: numpy<3,>=1.25 in /usr/local/lib/python3.12/dist-packages (from mne) (2.0.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from mne) (25.0)
Requirement already satisfied: pooch>=1.5 in /usr/local/lib/python3.12/dist-packages (from mne) (1.8.2)
Requirement already satisfied: scipy>=1.11 in /usr/local/lib/python3.12/dist-packages (from mne) (1.16.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from mne) (4.67.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.59.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from pooch>=1.5->mne) (4.3.8)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.12/dist-packages (from pooch>=1.5->mne) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->mne) (3.0.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.19.0->pooch>=1.5->mne) (2025.8.3)
Downloading mne-1.10.1-py3-none-any.whl (7.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 30.0 MB/s eta 0:00:00
Installing collected packages: mne
Successfully installed mne-1.10.1

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import mne
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mne.datasets.sleep_physionet.age import fetch_data

In [4]:
!pip install wget
import wget
import os

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9655 sha256=bce021dbb0c2fd3633f5537480163b05905a16f54c77a7cb5acc5aaca2fb589b
  Stored in directory: /root/.cache/pip/wheels/01/46/3b/e29ffbe4ebe614ff224bad40fc6a5773a67a163251585a13a9
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [5]:
path="content/drive/MyDrive/Colab-Dataset/eegData/Image"

In [20]:
classes=["Apple", "Car", "Dog", "Gold", "Mobile", "Rose", "Scooter", "Tiger", "Wallet", "Watch"]
subjects=range(0,23)


df=pd.DataFrame()
temps=[]
for c in classes:
  for sub in subjects:
    try:
        raw = mne.io.read_raw_edf(f"/content/drive/MyDrive/Colab-Dataset/eegData/Image/name{sub}_{c}.edf", preload=True, verbose=False)
    except:
        print(f"Error al leer: subject {sub} object {c}")
        continue
    data, times = raw.get_data(return_times=True)
    temp_df = pd.DataFrame(data.T, columns=raw.ch_names)
    temp_df["time"]=times
    temp_df["subject"]=sub
    temp_df["class"]=c
    temps.append(temp_df)


df=pd.concat(temps)
df.to_csv('/content/drive/MyDrive/Colab-Dataset/eegData/Images.csv', index=False)

df

Error al leer: subject 1 object Car
Error al leer: subject 15 object Scooter

,COUNTER,INTERPOLATED,AF3,F7,F3,FC5,T7,P7,O1,O2,...,CQ_T8,CQ_FC6,CQ_F4,CQ_F8,CQ_AF4,CQ_CMS,CQ_DRL,time,subject,class
0,0.000090,0.0,0.004219,0.004221,0.004223,0.004250,0.004228,0.004228,0.004222,0.004222,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0,Apple
1,0.000091,0.0,0.004218,0.004224,0.004229,0.004253,0.004228,0.004231,0.004227,0.004232,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.007812,0,Apple
2,0.000092,0.0,0.004223,0.004220,0.004223,0.004250,0.004232,0.004229,0.004221,0.004226,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.015625,0,Apple
3,0.000093,0.0,0.004218,0.004217,0.004225,0.004244,0.004234,0.004223,0.004215,0.004213,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.023438,0,Apple
4,0.000094,0.0,0.004221,0.004223,0.004227,0.004250,0.004229,0.004214,0.004214,0.004209,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.031250,0,Apple
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,0.000003,0.0,0.004230,0.004239,0.004236,0.004248,0.004236,0.004244,0.004242,0.004242,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.960938,22,Watch
1532,0.000004,0.0,0.004216,0.004227,0.004222,0.004238,0.004229,0.004235,0.004223,0.004222,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.968750,22,Watch
1533,0.000005,0.0,0.004223,0.004223,0.004228,0.004243,0.004247,0.004243,0.004227,0.004215,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.976562,22,Watch
1534,0.000006,0.0,0.004226,0.004233,0.004235,0.004243,0.004229,0.004227,0.004234,0.004222,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.984375,22,Watch
1535,0.000007,0.0,0.004212,0.004223,0.004222,0.004232,0.004223,0.004225,0.004214,0.004211,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.992188,22,Watch

In [21]:
classes=["A", "C", "F", "H", "J", "M", "P", "S", "T", "Y"]
subjects=range(0,23)


df=pd.DataFrame()
temps=[]
for c in classes:
  for sub in subjects:
    try:
        raw = mne.io.read_raw_edf(f"/content/drive/MyDrive/Colab-Dataset/eegData/Char/name{sub}_{c}.edf", preload=True, verbose=False)
    except:
        print(f"Error al leer: subject {sub} object {c}")
        continue
    data, times = raw.get_data(return_times=True)
    temp_df = pd.DataFrame(data.T, columns=raw.ch_names)
    temp_df["time"]=times
    temp_df["subject"]=sub
    temp_df["class"]=c
    temps.append(temp_df)


df=pd.concat(temps)

df.to_csv('/content/drive/MyDrive/Colab-Dataset/eegData/Char.csv', index=False)

df

,COUNTER,INTERPOLATED,AF3,F7,F3,FC5,T7,P7,O1,O2,...,CQ_T8,CQ_FC6,CQ_F4,CQ_F8,CQ_AF4,CQ_CMS,CQ_DRL,time,subject,class
0,0.000082,0.0,0.004218,0.004228,0.004227,0.004227,0.004232,0.004234,0.004228,0.004228,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0,A
1,0.000083,0.0,0.004224,0.004231,0.004233,0.004228,0.004232,0.004233,0.004230,0.004231,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.007812,0,A
2,0.000084,0.0,0.004216,0.004228,0.004219,0.004223,0.004230,0.004228,0.004226,0.004219,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.015625,0,A
3,0.000085,0.0,0.004220,0.004221,0.004230,0.004228,0.004231,0.004228,0.004227,0.004217,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.023438,0,A
4,0.000086,0.0,0.004212,0.004221,0.004215,0.004217,0.004227,0.004225,0.004217,0.004220,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.031250,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,0.000097,0.0,0.004217,0.004213,0.004224,0.004228,0.004230,0.004229,0.004221,0.004225,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.960938,22,Y
1532,0.000098,0.0,0.004247,0.004232,0.004253,0.004252,0.004246,0.004242,0.004254,0.004259,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.968750,22,Y
1533,0.000099,0.0,0.004250,0.004234,0.004251,0.004246,0.004220,0.004223,0.004251,0.004264,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.976562,22,Y
1534,0.000100,0.0,0.004238,0.004233,0.004240,0.004238,0.004222,0.004223,0.004242,0.004250,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.984375,22,Y
1535,0.000101,0.0,0.004247,0.004243,0.004248,0.004249,0.004245,0.004243,0.004248,0.004255,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.992188,22,Y

In [6]:
ultimas = df.columns[-3:].tolist()
resto = df.columns[:-3].tolist()
df = df[ultimas + resto]

In [25]:
df[(df['subject'] == 0) & (df['class'] == "T")]

,COUNTER,INTERPOLATED,AF3,F7,F3,FC5,T7,P7,O1,O2,...,CQ_T8,CQ_FC6,CQ_F4,CQ_F8,CQ_AF4,CQ_CMS,CQ_DRL,time,subject,class
0,0.000025,0.0,0.004232,0.004229,0.004231,0.004239,0.004232,0.004235,0.004236,0.004227,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0,T
1,0.000026,0.0,0.004235,0.004236,0.004234,0.004242,0.004232,0.004233,0.004241,0.004235,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.007812,0,T
2,0.000027,0.0,0.004231,0.004236,0.004231,0.004238,0.004232,0.004232,0.004233,0.004239,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.015625,0,T
3,0.000028,0.0,0.004239,0.004235,0.004244,0.004244,0.004231,0.004230,0.004230,0.004243,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.023438,0,T
4,0.000029,0.0,0.004236,0.004234,0.004228,0.004239,0.004226,0.004229,0.004224,0.004235,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.031250,0,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,0.000008,0.0,0.004227,0.004207,0.004231,0.004234,0.004228,0.004233,0.004233,0.004259,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.960938,0,T
1532,0.000009,0.0,0.004218,0.004196,0.004225,0.004232,0.004231,0.004233,0.004231,0.004253,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.968750,0,T
1533,0.000010,0.0,0.004224,0.004202,0.004234,0.004237,0.004232,0.004232,0.004239,0.004256,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.976562,0,T
1534,0.000011,0.0,0.004219,0.004206,0.004227,0.004234,0.004230,0.004231,0.004234,0.004253,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.984375,0,T
1535,0.000012,0.0,0.004226,0.004205,0.004244,0.004244,0.004232,0.004234,0.004236,0.004256,...,0.0,0.000004,0.000004,0.000004,0.0,0.000004,0.000004,11.992188,0,T

In [9]:
df["class_id"] = df["class"].apply(lambda x: classes.index(x))

/tmp/ipython-input-278608847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["class_id"] = df["class"].apply(lambda x: classes.index(x))

In [10]:
df.drop(columns=['RAW_CQ', 'GYROX', 'GYROY', 'MARKER', 'SYNC', 'TIME_STAMP_s', 'TIME_STAMP_ms'], inplace=True)

/tmp/ipython-input-4118842683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['RAW_CQ', 'GYROX', 'GYROY', 'MARKER', 'SYNC', 'TIME_STAMP_s', 'TIME_STAMP_ms'], inplace=True)

In [11]:
train_df=df[(df["subject"]!=21) & (df["subject"]!=22)]
test_df=pd.concat([df[(df['subject'] == 21)], df[(df['subject'] == 22)]])

In [12]:
df.columns

Index(['time', 'subject', 'class', 'COUNTER', 'INTERPOLATED', 'AF3', 'F7',
       'F3', 'FC5', 'T7', 'P7', 'O1', 'O2', 'P8', 'T8', 'FC6', 'F4', 'F8',
       'AF4', 'CQ_AF3', 'CQ_F7', 'CQ_F3', 'CQ_FC5', 'CQ_T7', 'CQ_P7', 'CQ_O1',
       'CQ_O2', 'CQ_P8', 'CQ_T8', 'CQ_FC6', 'CQ_F4', 'CQ_F8', 'CQ_AF4',
       'CQ_CMS', 'CQ_DRL', 'class_id'],
      dtype='object')

In [27]:
x_train=train_df.loc[:, ['AF3', 'F7','F3', 'FC5', 'T7', 'P7', 'O1', 'O2', 'P8', 'T8', 'FC6', 'F4', 'F8','AF4', 'CQ_AF3', 'CQ_F7', 'CQ_F3', 'CQ_FC5', 'CQ_T7', 'CQ_P7', 'CQ_O1','CQ_O2', 'CQ_P8', 'CQ_T8', 'CQ_FC6', 'CQ_F4', 'CQ_F8', 'CQ_AF4','CQ_CMS', 'CQ_DRL']]
x_train=x_train.to_numpy()
y_train=train_df['class_id'].to_numpy()



x_test=test_df.loc[:, ['AF3', 'F7','F3', 'FC5', 'T7', 'P7', 'O1', 'O2', 'P8', 'T8', 'FC6', 'F4', 'F8','AF4', 'CQ_AF3', 'CQ_F7', 'CQ_F3', 'CQ_FC5', 'CQ_T7', 'CQ_P7', 'CQ_O1','CQ_O2', 'CQ_P8', 'CQ_T8', 'CQ_FC6', 'CQ_F4', 'CQ_F8', 'CQ_AF4','CQ_CMS', 'CQ_DRL']]
x_test=x_test.to_numpy()
y_test=test_df['class_id'].to_numpy()

In [8]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [28]:
model = keras.Sequential([
    layers.Dense(128, activation='relu', input_shape=(30,)),
    layers.Dense(64, activation='relu'),
    layers.Dense(10, activation='softmax')
])

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [29]:
model.compile(
    optimizer='adam',
    loss='sparse_categorical_crossentropy',
    metrics=['accuracy']
)

In [30]:
history = model.fit(
    x_train, y_train,
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 21s 2ms/step - accuracy: 0.1266 - loss: 2.1078 - val_accuracy: 0.0000e+00 - val_loss: 7.9437
Epoch 2/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 21s 3ms/step - accuracy: 0.1261 - loss: 2.0975 - val_accuracy: 0.0000e+00 - val_loss: 11.2571
Epoch 3/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 22s 3ms/step - accuracy: 0.1264 - loss: 2.0966 - val_accuracy: 0.0000e+00 - val_loss: 10.5360
Epoch 4/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 23s 3ms/step - accuracy: 0.1253 - loss: 2.0972 - val_accuracy: 0.0000e+00 - val_loss: 11.7897
Epoch 5/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 41s 3ms/step - accuracy: 0.1244 - loss: 2.0967 - val_accuracy: 0.0000e+00 - val_loss: 11.6612
Epoch 6/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 22s 3ms/step - accuracy: 0.1252 - loss: 2.0964 - val_accuracy: 0.0000e+00 - val_loss: 11.6865
Epoch 7/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 22s 3ms/step - accuracy: 0.1266 - loss: 2.0970 - val_accuracy: 0.0000e+00 - val_loss: 12.1475
Epoch 8/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 20s 2ms/step - accuracy: 0.1255 - loss: 2.0966 - val_accuracy: 0.0000e+00 - val_loss: 12.2323
Epoch 9/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 23s 3ms/step - accuracy: 0.1252 - loss: 2.0965 - val_accuracy: 0.0000e+00 - val_loss: 11.9708
Epoch 10/10
8292/8292 ━━━━━━━━━━━━━━━━━━━━ 53s 4ms/step - accuracy: 0.1256 - loss: 2.0966 - val_accuracy: 0.0000e+00 - val_loss: 12.5644

In [31]:
test_loss, test_acc = model.evaluate(x_test, y_test)
print(f"Precisión en test: {test_acc*100:.2f}%")

1008/1008 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.2330 - loss: 2.8998
Precisión en test: 9.92%

In [42]:
import mne

# Cargar EDF
edf_path = "/content/drive/MyDrive/Colab-Dataset/eegData/Char/name0_A.edf"
raw = mne.io.read_raw_edf(edf_path, preload=True)

# Ver las anotaciones
print(raw.annotations)

Extracting EDF parameters from /content/drive/MyDrive/Colab-Dataset/eegData/Char/name0_A.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...
Reading 0 ... 1535  =      0.000 ...    11.992 secs...
<Annotations | 0 segments>